.app.dark {
  --bg-color: #1c1b21;
  --inverted-bg-color: #b6b6b6;
  --primary-color: #6c38cc;
  --secondaty-color: #cc46c9;
  --inverted-primary-color: #252e7e;
  --inverted-secondaty-color: #3498db;
}
